.table {
  border-color: pink;
  display: flex;
}

.table > .row {
  border-color: green;
  
}

.table > .row.header {
  border-color: blue;
}

.table > .row > .cell {
  padding: 0.5rem;
}

.table > .row.header > .cell {
  font-weight: bold;
}
