# This is one example of a MongoDB connection URL; you can comment this line so the server will use
# an in-memory MongoDB database, but all changes will be lost when it shuts down.
MONGODB_URL=mongodb://localhost:27017/?readPreference=primary&ssl=false

# This uses port 8080, which is probably a common port for development. If port 8080 is used by some
# other application, you can change this one to a different port, but changes must be reflected in
# the client's .env.local configuration file.
PORT=8080
CLIENT_HOST=http://localhost:3000

# Validity of verification email, in minutes
VERIFICATION_VALIDITY=15
# Validity of session, in minutes
SESSION_VALIDITY=1440

# This sample uses Ethereal email, a fake email service where emails can be viewed but are never
# actually sent to the destination. You can visit the site here: https://ethereal.email/
# and generate your own credentials using the site.

# Should you be willing to use an actual email service, you must be careful not to send any email
# to anyone else because it's spammy and unsolicited, and nobody wants that.

MAIL_MODE=smtp
MAIL_SMTP_HOST=smtp.ethereal.email
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=true

# This is where you should put your generated credentials.
MAIL_SMTP_USER=
MAIL_SMTP_PASS=

# This field denotes the current term. It can be any string. However, it is recommended that a
# format to identify a given term be used. (e.g. <year>_<term>)
CURRENT_TERM=2022_2
